extends layout

block content
    script(type='text/javascript', src='/javascripts/min/browse.min.js')
    script(type='text/javascript', src='/javascripts/min/view.min.js')

    nav.hidden
        .sort
            .selected-sort
                //- span.sortTitle Sort:
                span.name Newest
            ul
                li.item(data-attr='timestamp', data-dir='desc') Newest
                li.item(data-attr='timestamp', data-dir='asc') Oldest
                li.item(data-attr='likes', data-dir='desc') Popular
        .create
            button.text New Bag
    .content.browse-page
        #viewId #{toteID}
        #sort #{sort}
        .browse-tote-wrap
        .zoomTransition
            .zoomAnimationWrapper
        .view-carousel
            .view-carousel-wrap
            .view-controls
                button.heart-outer-wrap
                    .heart-wrap
                        .heart-circle
                        .heart
                            .inner-heart
                button.arrow.left
                button.arrow.right
                button.close.text
                    span Close
