extends layout

block content
    script(type='text/javascript', src='/javascripts/min/browse.min.js')
    script(type='text/javascript', src='/javascripts/min/view.min.js')

    nav.hidden
        .sort
            .sort-option(data-attr='timestamp', data-dir='desc', data-name='latest') Latest
            .sort-option(data-attr='likes', data-dir='desc', data-name='popular') Popular

            //--------------------------------------------//
            //---- CODE FOR MAKING A DROPDOWN VERSION ----//
            //--------------------------------------------//

            //- .selected-sort
            //-     //- span.sortTitle Sort:
            //-     span.name Latest
            //- ul
            //-     li.item(data-attr='timestamp', data-dir='desc') Latest
            //-     li.item(data-attr='timestamp', data-dir='asc') Oldest
            //-     li.item(data-attr='likes', data-dir='desc') Popular
        .create
            button.text 
                span.lrg New Bag
    .content.browse-page
        #viewId #{toteID}
        #sort #{sort}
        .browse-tote-wrap
        .zoomTransition
            .zoomAnimationWrapper
        .view-carousel
            .view-carousel-wrap
            .view-controls
                button.heart-outer-wrap
                    .heart-wrap
                        .heart-circle
                        .heart
                            svg(width="32px", height="29px")
                                path(d="M39.9504969,20.4285714 C37.4437267,20.4285714 34.8843478,21.6982109 33,24.6490918 C31.1163354,21.6982109 28.5562733,20.4292823 26.0495031,20.4285714 C21.5825466,20.4285714 17.2857143,24.4592857 17.2857143,30.186881 C17.2857143,36.2365068 22.5158385,40.5508639 26.4539752,43.8067143 C30.5410559,47.1905238 31.688882,47.9113605 33,49.2812347 C34.311118,47.9113605 35.4589441,47.1905238 39.5460248,43.8067143 C43.4841615,40.5508639 48.7142857,36.2365068 48.7142857,30.186881 C48.7142857,24.4592857 44.4167702,20.4285714 39.9504969,20.4285714")
                button.arrow.left
                button.arrow.right
                button.close.text
                    span Close
