doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/min/style.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js')
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js')
    script(type='text/javascript', src='/javascripts/min/jquery.cookie.min.js')
    script(type='text/javascript', src='/javascripts/hammer/jquery.hammer.v1.0.0.js')
    script(type='text/javascript', src='/javascripts/min/main.min.js')

  body
    block content