extends layout

block content
    script(type='text/javascript', src='/javascripts/create.js')
    nav
        .logo
        .right-actions
            .save Save Design
    .content.create-page
        .bag-wrap
        .bottom-bar
            .color-control-wrap
            .addTextfield
            .bag-size-wrap
                .small-bag.icon.sel(data-size='small')
                .big-bag.icon(data-size='big')