<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/min/style.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="/javascripts/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/CSSPlugin.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/EasePack.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/TweenLite.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="/javascripts/libs/jquery.hammer.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/underscore.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/mustache.min.js"></script>
    <script type="text/javascript" src="/javascripts/min/main-min.js"></script>
  </head>
  <body>
    <script type="text/javascript" src="/javascripts/create.js"></script>
    <nav>
      <div class="logo"></div>
      <div class="right-actions">
        <div class="save">Save Design</div>
      </div>
    </nav>
    <div class="content">
      <div class="tote-wrap big cyan">
        <div class="actual-tote">
          <div class="handle"></div>
          <div class="bag-body">
            <div class="text">This is a test bag.</div>
          </div>
          <div class="bag-bottom">
            <div class="bl-corner"></div>
            <div class="bottom"></div>
            <div class="br-corner"></div>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>