{{#bags}}
    <div class="tote-wrap {{size}} {{color}}" {{#_id}}data-id="{{_id}}"{{/_id}}>
        <div class="actual-tote">
            <div class="handle"></div>
            <div class="bag-body">
                <div class="textfields-wrap">
                    {{#if editMode}}
                        {{#each textfields}}
                            <div id="{{domid}}" class="editable-field {{#if strikethrough}}{{strikethrough}}{{/if}}" style="text-align: {{justify}}; font-size: {{fontSize}}em; letter-spacing: {{kerning}}em; line-height: {{leading}}em; width: {{width}}">
                                <div class="border"></div>
                                <div class="corner tl"></div>
                                <div class="corner tr"></div>
                                <div class="corner bl"></div>
                                <div class="corner br"></div>
                                <textarea spellcheck="false" placeholder="Type something.">{{text}}</textarea>
                                <div class='clone-text-wrap'>
                                    <div class="clone-text">{{^text}}Type something.{{/text}}{{text}}</div>
                                </div>
                                
                                <div class="text-controls">
                                    <div class="top-controls">
                                        <div class="justification">
                                            <div class="justify-left sel"></div>
                                            <div class="justify-center"></div>
                                            <div class="justify-right"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="strikethrough {{#if strikethrough}}sel{{/if}}"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="type-control-wrap">
                                        <div class="type-control size">
                                            <div class="icon"></div>
                                            <input type="range" min="0.1" max="0.5" step="0.02" value="0.3" />
                                        </div>
                                        <div class="type-control kerning">
                                            <div class="icon"></div>
                                            <input type="range" min="-0.1" max="0.1" step="0.01" value="-0.03" />
                                        </div>
                                        <div class="type-control leading">
                                            <div class="icon"></div>
                                            <input type="range" min="0.5" max="1.5" step="0.01" value="1" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        {{#each textfields}}
                            <div data-id="{{_id}}" data-x="{{x}}" data-y="{{y}}" class="text {{#if strikethrough}}{{strikethrough}}{{/if}}" style="text-align: {{justify}}; font-size: {{fontSize}}em; letter-spacing: {{kerning}}em; line-height: {{leading}}em; width: {{width}}">{{text}}{{#if strikethrough}}<div class="strike"><div class="inner-strike">{{text}}</div></div>{{/if}}</div>
                        {{/each}}
                    {{/if}}                    
                </div>
            </div>
            <div class="bag-bottom">
                <div class="bl-corner"></div>
                <div class="bottom"></div>
                <div class="br-corner"></div>
            </div>
            <div class="shadow-blur"><div class="tote-shadow"></div></div>

        </div>
    </div>
{{/bags}}