@font-face {
  font-family: HugeAvantGarde;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/huge_agb_v5.eot");
  src: url("/fonts/huge_agb_v5.eot?#iefix") format("embedded-opentype"), url("/fonts/huge_agb_v5.woff") format("woff"), url("/fonts/huge_agb_v5.ttf") format("truetype"), url("/fonts/huge_agb_v5.svg#HugeAvantGarde") format("svg");
}
html, body {
  margin: 0;
  padding: 0;
  font-family: HugeAvantGarde;
  font-size: 16px;
}
html *, body * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body.lock-scroll {
  height: 100%;
  overflow: hidden;
}

button {
  width: 50px;
  height: 50px;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  background-color: #fff;
  -ms-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  outline: 0;
}
button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 200;
}
nav .logo {
  background: rgba(0, 0, 0, 0.9) url("/images/h.svg") no-repeat center center;
  background-size: contain;
  background-size: 50% 50%;
  width: 50%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
nav .right-actions {
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  font-size: 21px;
}
nav .right-actions > div {
  display: inline-block;
  width: 50%;
  text-align: center;
  line-height: 80px;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  cursor: pointer;
}
nav .right-actions > div:hover {
  background-color: #d93182;
  color: #fff;
}
nav .right-actions > div a {
  color: inherit;
  text-decoration: none;
}
nav .right-actions .create {
  background-color: #fa4248;
  color: #fff;
}
nav .right-actions .create a {
  width: 100%;
  height: 100%;
  display: block;
}
nav .right-actions .sort {
  position: relative;
  padding: 0;
}
nav .right-actions .sort:hover {
  background-color: inherit;
  color: inherit;
}
nav .right-actions .sort .selected-sort {
  width: 100%;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  position: relative;
  text-align: left;
  padding-left: 25px;
}
nav .right-actions .sort .selected-sort:hover {
  background-color: #d93182;
  color: #fff;
}
nav .right-actions .sort .selected-sort:hover:after {
  border-top: 7px solid rgba(255, 255, 255, 0.95);
}
nav .right-actions .sort .selected-sort:hover + ul {
  height: 240px;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
nav .right-actions .sort .selected-sort .name {
  padding: 0 10px;
}
nav .right-actions .sort .selected-sort:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 25px;
  margin-left: -5px;
}
nav .right-actions .sort ul {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.95);
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  height: 0;
  opacity: 0;
  width: 100%;
  pointer-events: none;
  text-align: left;
  font-size: 16px;
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
nav .right-actions .sort ul:hover {
  height: 240px;
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
nav .right-actions .sort ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.95);
  position: absolute;
  top: -10px;
  right: 20px;
}
nav .right-actions .sort ul.open {
  height: 240px;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
nav .right-actions .sort ul li {
  color: #fff;
  display: block;
  margin: 0;
  box-sizing: border-box;
  padding: 0 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
nav .right-actions .sort ul li:hover {
  background-color: #d93182;
}

@media screen and (max-width: 1280px) {
  nav .logo {
    width: 33.33%;
  }
  nav .right-actions {
    width: 66.66%;
  }
}
@media screen and (max-width: 940px) {
  nav .logo {
    width: 50%;
  }
  nav .right-actions {
    width: 50%;
  }
  nav .right-actions .sort .sortTitle {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  nav {
    height: 160px;
  }
  nav .logo {
    width: 100%;
  }
  nav .right-actions {
    width: 100%;
    top: 80px;
  }
  nav .right-actions .sort .sortTitle {
    display: none;
  }

  .content {
    margin-top: 80px;
  }
}
.tote-wrap {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.tote-wrap.red .actual-tote .handle {
  background-color: #dc143a;
}
.tote-wrap.red .actual-tote .bag-bottom .bottom {
  background-color: #dc143a;
}
.tote-wrap.red .actual-tote .bag-body {
  background-color: #dc143a;
}
.tote-wrap.red .actual-tote .bag-body:after {
  background-image: url("/images/huge-logo-white.svg");
}
.tote-wrap.red .actual-tote .bag-body textarea, .tote-wrap.red .actual-tote .bag-body .text {
  color: #fff;
}
.tote-wrap.orange .actual-tote .bag-bottom .bottom {
  background-color: #ff6c00;
}
.tote-wrap.orange .actual-tote .bag-body {
  background-color: #ff6c00;
}
.tote-wrap.orange .actual-tote .bag-body:after {
  background-image: url("/images/huge-logo-white.svg");
}
.tote-wrap.orange .actual-tote .bag-body textarea, .tote-wrap.orange .actual-tote .bag-body .text {
  color: #fff;
}
.tote-wrap.yellow .actual-tote .bag-bottom .bottom {
  background-color: #ffd535;
}
.tote-wrap.yellow .actual-tote .bag-body {
  background-color: #ffd535;
}
.tote-wrap.yellow .actual-tote .bag-body textarea::-webkit-input-placeholder {
  color: rgba(25, 25, 25, 0.5);
}
.tote-wrap.yellow .actual-tote .bag-body textarea::-moz-placeholder {
  color: rgba(25, 25, 25, 0.5);
}
.tote-wrap.yellow .actual-tote .bag-body textarea:-moz-placeholder {
  color: rgba(25, 25, 25, 0.5);
}
.tote-wrap.yellow .actual-tote .bag-body textarea:-ms-input-placeholder {
  color: rgba(25, 25, 25, 0.5);
}
.tote-wrap.yellow .actual-tote .bag-body:after {
  background-image: url("/images/huge-logo-white.svg");
}
.tote-wrap.yellow .actual-tote .bag-body textarea, .tote-wrap.yellow .actual-tote .bag-body .text {
  color: #fff;
}
.tote-wrap.green .actual-tote .bag-bottom .bottom {
  background-color: #007d55;
}
.tote-wrap.green .actual-tote .bag-body:after {
  background-image: url("/images/huge-logo-white.svg");
}
.tote-wrap.green .actual-tote .bag-body textarea, .tote-wrap.green .actual-tote .bag-body .text {
  color: #fff;
}
.tote-wrap.cyan .actual-tote .bag-bottom .bottom {
  background-color: #27aae1;
}
.tote-wrap.cyan .actual-tote .bag-body {
  background-color: #27aae1;
}
.tote-wrap.cyan .actual-tote .bag-body:after {
  background-image: url("/images/huge-logo-white.svg");
}
.tote-wrap.cyan .actual-tote .bag-body textarea, .tote-wrap.cyan .actual-tote .bag-body .text {
  color: #fff;
}
.tote-wrap.white .actual-tote .handle {
  border-bottom: 0;
}
.tote-wrap.white .actual-tote .handle:before {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0;
}
.tote-wrap.white .actual-tote .bag-bottom .bottom {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.tote-wrap.white .actual-tote .bag-bottom .bl-corner:after, .tote-wrap.white .actual-tote .bag-bottom .br-corner:after {
  position: absolute;
  content: "";
  width: 0.256em;
  height: 2px;
  top: 0;
  right: -0.135em;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tote-wrap.white .actual-tote .bag-body {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  background-color: #fff;
}
.tote-wrap.white .actual-tote .bag-body textarea::-webkit-input-placeholder {
  color: rgba(25, 25, 25, 0.5);
}
.tote-wrap.white .actual-tote .bag-body textarea::-moz-placeholder {
  color: rgba(25, 25, 25, 0.5);
}
.tote-wrap.white .actual-tote .bag-body textarea:-moz-placeholder {
  color: rgba(25, 25, 25, 0.5);
}
.tote-wrap.white .actual-tote .bag-body textarea:-ms-input-placeholder {
  color: rgba(25, 25, 25, 0.5);
}
.tote-wrap.white .actual-tote .bag-body:after {
  background-image: url("/images/huge-logo.svg");
}
.tote-wrap.white .actual-tote .bag-body textarea, .tote-wrap.white .actual-tote .bag-body .text {
  color: #000;
}
.tote-wrap.big .actual-tote {
  width: 85%;
}
.tote-wrap.big .actual-tote .bag-body {
  padding-bottom: 75%;
}
.tote-wrap.big .actual-tote .handle {
  padding-bottom: 65%;
  width: 45%;
}
.tote-wrap .actual-tote {
  width: 70%;
  margin: 0 auto;
  padding: 7% 0;
  transition: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.tote-wrap .actual-tote .handle {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2px;
  height: 0;
  padding-bottom: 80%;
  position: relative;
  background-color: #000;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  transition: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.tote-wrap .actual-tote .handle:before {
  content: "";
  width: 72%;
  height: 100%;
  position: absolute;
  top: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  background-color: #fff;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}
.tote-wrap .actual-tote .bag-body {
  width: 100%;
  height: 0;
  padding-bottom: 90%;
  position: relative;
  z-index: 101;
  background-color: #000;
  transition: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition-property: background, padding;
}
.tote-wrap .actual-tote .bag-body:before {
  content: "";
  position: absolute;
  top: 7%;
  right: 100%;
  width: 3.5%;
  height: 7%;
  background: #d93182 url("/images/h.svg") center 5px no-repeat;
  background-size: 60%;
}
.tote-wrap .actual-tote .bag-body:after {
  content: "";
  width: 80%;
  bottom: 3%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 3%;
  background: url("/images/huge-logo.svg") left center no-repeat;
  background-size: contain;
}
.tote-wrap .actual-tote .bag-body .textfields-wrap {
  margin: 10%;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}
.tote-wrap .actual-tote .bag-body .textfields-wrap * {
  color: #fff;
}
.tote-wrap .actual-tote .bag-body .text {
  font-size: 0.29em;
  letter-spacing: -0.05em;
  line-height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.tote-wrap .actual-tote .bag-bottom {
  width: 100%;
  padding-bottom: 10%;
  position: relative;
}
.tote-wrap .actual-tote .bag-bottom > * {
  display: inline-block;
  float: left;
}
.tote-wrap .actual-tote .bag-bottom .bottom {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #000;
  transition: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition-property: background-color;
}
.tote-wrap .actual-tote .bag-bottom .bl-corner, .tote-wrap .actual-tote .bag-bottom .br-corner {
  position: absolute;
  bottom: -1px;
  border: solid 0.1em transparent;
  width: 0;
  height: 0;
  border-left: solid 0.1em #fff;
  border-bottom: solid 0.1em #fff;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition-property: border-color;
}
.tote-wrap .actual-tote .bag-bottom .bl-corner {
  left: -1px;
}
.tote-wrap .actual-tote .bag-bottom .br-corner {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: -1px;
}
.tote-wrap .actual-tote .shadow-blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  width: 100%;
  margin-top: 10%;
}
.tote-wrap .actual-tote .shadow-blur .tote-shadow {
  background: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.4) 30%, transparent 70%);
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 120%;
  margin-left: -10%;
  height: 0;
  padding-bottom: 5%;
  opacity: 0.8;
}

.content {
  width: 100%;
  padding-top: 80px;
  position: relative;
}

.clearfix {
  clear: both;
  float: none;
}

button {
  position: fixed;
  z-index: 200;
}
button.close {
  top: 25px;
  left: 25px;
}
button.close:after {
  width: 50%;
  height: 50%;
  background: url("/images/x-close.svg") center center no-repeat;
  background-size: contain;
  opacity: 0.3;
  content: "";
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
button.close:hover:after {
  opacity: 0.6;
}
button.save {
  top: 25px;
  right: 25px;
  background-color: #fa4248;
}
button.save:after, button.save:before {
  content: "";
  position: absolute;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  background: url("/images/check-white.svg") center center no-repeat;
  background-size: contain;
}

.content.create-page {
  position: relative;
  min-height: 100vh;
  background-color: #f8f8f8;
}
.content.create-page .tote-wrap {
  max-width: 80vw;
  width: 800px;
  margin: 0 auto;
}
.content.create-page .tote-wrap .actual-tote {
  padding-bottom: 120px;
}
.content.create-page .tote-wrap .actual-tote .handle:before {
  background-color: #f8f8f8;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field {
  position: absolute;
  max-height: 100%;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field.selected {
  border: 1px dashed #ccc;
  z-index: 300;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field.selected .corner {
  width: 20px;
  height: 20px;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field.selected .corner.tr {
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field.selected .corner.tl {
  top: -10px;
  left: -10px;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field.selected .corner.bl {
  bottom: -10px;
  left: -10px;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field.selected .corner.br {
  bottom: -10px;
  right: -10px;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field.selected .text-controls {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  margin-bottom: 100px;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field .corner {
  width: 0;
  height: 0;
  overflow: hidden;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: linear-gradient(to bottom, #fafafa, #efefef);
  -ms-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  cursor: move;
  cursor: -webkit-grab;
  position: absolute;
  z-index: 101;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition-property: width, height, top, left, bottom, right;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field .corner.tr {
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #dc143a, #cd173a);
  cursor: pointer;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field .corner.tr:after {
  content: "";
  width: 40%;
  height: 40%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 101;
  background: url("/images/x-close-white.svg") center center no-repeat;
  background-size: contain;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field .corner.tl {
  top: 0;
  left: 0;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field .corner.bl {
  bottom: 0;
  left: 0;
}
.content.create-page .tote-wrap .actual-tote .bag-body .editable-field .corner.br {
  bottom: 0;
  right: 0;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls {
  background-color: rgba(45, 45, 45, 0.95);
  width: 220px;
  padding: 15px 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  position: absolute;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50px, 0);
  -ms-transform: translate3d(-50%, -50px, 0);
  transform: translate3d(-50%, -50px, 0);
  top: -o-calc(100% + 25px);
  top: calc(100% + 25px);
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls:after {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  pointer-events: none;
  border-width: 15px;
  border-bottom-color: rgba(45, 45, 45, 0.95);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 100%;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .justification {
  width: 100%;
  height: 40px;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .justification * {
  width: 33.33%;
  float: left;
  display: inline-block;
  height: 100%;
  cursor: pointer;
  position: relative;
  z-index: 101;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .justification .justify-left {
  background: url("/images/aligned-left-white.svg") no-repeat left center;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .justification .justify-left.sel {
  background-image: url("/images/aligned-left-blue.svg");
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .justification .justify-center {
  background: url("/images/aligned-center-white.svg") no-repeat center center;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .justification .justify-center.sel {
  background-image: url("/images/aligned-center-blue.svg");
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .justification .justify-right {
  background: url("/images/aligned-right-white.svg") no-repeat right center;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .justification .justify-right.sel {
  background-image: url("/images/aligned-right-blue.svg");
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .type-control-wrap .type-control {
  width: 100%;
  height: 30px;
  margin: 10px 0;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .type-control-wrap .type-control * {
  float: left;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .type-control-wrap .type-control .icon {
  height: 100%;
  width: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .type-control-wrap .type-control input[type=range] {
  width: 120px;
  margin-left: 15px;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .type-control-wrap .type-control.size .icon {
  background-image: url("/images/typesize.svg");
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .type-control-wrap .type-control.kerning .icon {
  background-image: url("/images/kerning.svg");
}
.content.create-page .tote-wrap .actual-tote .bag-body .text-controls .type-control-wrap .type-control.leading .icon {
  background-image: url("/images/leading.svg");
}
.content.create-page .tote-wrap .actual-tote .bag-body textarea {
  position: absolute;
  background: transparent;
  resize: none;
  font-family: HugeAvantGarde;
  outline: none;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 0.2em;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  top: 0;
  left: 0;
  text-align: inherit;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  -ms-touch-callout: none;
  -o-touch-callout: none;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content.create-page .tote-wrap .actual-tote .bag-body textarea::-webkit-input-placeholder {
  font-family: HugeAvantGarde;
  color: rgba(205, 205, 205, 0.5);
}
.content.create-page .tote-wrap .actual-tote .bag-body textarea::-moz-placeholder {
  font-family: HugeAvantGarde;
  color: rgba(205, 205, 205, 0.5);
}
.content.create-page .tote-wrap .actual-tote .bag-body textarea:-moz-placeholder {
  font-family: HugeAvantGarde;
  color: rgba(205, 205, 205, 0.5);
}
.content.create-page .tote-wrap .actual-tote .bag-body textarea:-ms-input-placeholder {
  font-family: HugeAvantGarde;
  color: rgba(205, 205, 205, 0.5);
}
.content.create-page .tote-wrap .actual-tote .bag-body .clone-text {
  pointer-events: none;
  opacity: 0;
}
.content.create-page .tote-wrap .actual-tote .bag-bottom .bl-corner, .content.create-page .tote-wrap .actual-tote .bag-bottom .br-corner {
  border-left-color: #f8f8f8;
  border-bottom-color: #f8f8f8;
}
.content.create-page .bottom-bar {
  width: 100%;
  height: 100px;
  background-color: rgba(248, 248, 248, 0.9);
  position: fixed;
  z-index: 300;
  bottom: 0;
  left: 0;
}
.content.create-page .color-control-wrap {
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.content.create-page .color-control-wrap.expand {
  height: 180px;
}
.content.create-page .color-control-wrap.expand .colors {
  -webkit-transform: translateY(-65px);
  -ms-transform: translateY(-65px);
  transform: translateY(-65px);
}
.content.create-page .color-control-wrap.expand .colors .color {
  width: 50px;
  height: 50px;
}
.content.create-page .color-control-wrap.expand .colors .color[rel=red] {
  transition: 0.3s 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  border: 3px solid #fff;
}
.content.create-page .color-control-wrap.expand .colors .color[rel=black] {
  transition: 0.3s 0.15s cubic-bezier(0.7, 0, 0.3, 1);
  border: 3px solid #fff;
}
.content.create-page .color-control-wrap.expand .colors .color[rel=white] {
  transition: 0.3s 0.1s cubic-bezier(0.7, 0, 0.3, 1);
  border: 3px solid transparent;
}
.content.create-page .color-control-wrap.expand .color-control {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  background-color: #000;
}
.content.create-page .color-control-wrap.expand .color-control:before {
  opacity: 0;
}
.content.create-page .color-control-wrap.expand .color-control:after {
  opacity: 1;
}
.content.create-page .color-control-wrap.expand .color-control:hover {
  -webkit-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
}
.content.create-page .color-control {
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.content.create-page .color-control:before, .content.create-page .color-control:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  -o-border-radius: 50%;
  border-radius: 50%;
  transition: 0.15s cubic-bezier(0.7, 0, 0.3, 1);
}
.content.create-page .color-control:before {
  background: url("/images/color-wheel.svg") center center no-repeat;
}
.content.create-page .color-control:after {
  background: url("/images/x-close-white.svg") center center no-repeat;
  opacity: 0;
  width: 50%;
  height: 50%;
}
.content.create-page .colors {
  height: 100%;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.content.create-page .colors .color {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 12.5px;
  height: 12.5px;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: 0.15s cubic-bezier(0.7, 0, 0.3, 1);
  cursor: pointer;
  -ms-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
}
.content.create-page .colors .color:hover .color-wrap {
  -ms-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
.content.create-page .colors .color[rel=red] {
  background-color: #dc143a;
  top: 0;
}
.content.create-page .colors .color[rel=black] {
  background-color: #000;
  bottom: 0;
}
.content.create-page .colors .color[rel=white] {
  background-color: #fff;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
.content.create-page .colors .color .color-wrap {
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.content.create-page .addTextfield {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 25px;
}
.content.create-page .addTextfield:not(.disabled):hover {
  -webkit-transform: translateY(-50%) scale(1.1);
  -ms-transform: translateY(-50%) scale(1.1);
  transform: translateY(-50%) scale(1.1);
}
.content.create-page .addTextfield:before {
  content: "";
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("/images/x-close.svg") center center no-repeat;
  background-size: contain;
  -webkit-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  width: 40%;
  height: 40%;
}
.content.create-page .addTextfield.disabled {
  background-color: #cccccc;
  cursor: auto;
}
.content.create-page .bag-size-wrap {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -moz-border-top-right-radius: 25% 50%;
  -o-border-top-right-radius: 25% 50%;
  border-top-right-radius: 25% 50%;
  -moz-border-top-left-radius: 25% 50%;
  -o-border-top-left-radius: 25% 50%;
  border-top-left-radius: 25% 50%;
  -moz-border-bottom-left-radius: 25% 50%;
  -o-border-bottom-left-radius: 25% 50%;
  border-bottom-left-radius: 25% 50%;
  -moz-border-bottom-right-radius: 25% 50%;
  -o-border-bottom-right-radius: 25% 50%;
  border-bottom-right-radius: 25% 50%;
  height: 50px;
  width: 100px;
  background-color: #e3e3e3;
  border: 1px solid #cccccc;
  -ms-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}
.content.create-page .bag-size-wrap .selector {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #cccccc;
  -o-border-radius: 50%;
  border-radius: 50%;
  -ms-box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  z-index: 200;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.content.create-page .bag-size-wrap .selector:hover {
  -ms-box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2);
}
.content.create-page .bag-size-wrap.small .selector {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.content.create-page .bag-size-wrap.small .icon.small-bag {
  opacity: 0.5;
}
.content.create-page .bag-size-wrap.big .selector {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
}
.content.create-page .bag-size-wrap.big .icon.big-bag {
  opacity: 0.5;
}
.content.create-page .bag-size-wrap .icon {
  width: 50%;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("/images/small-bag-icon.svg");
  background-size: 35px 17.5px;
  opacity: 0.3;
  position: relative;
  transition: 0s 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.content.create-page .bag-size-wrap .icon:before, .content.create-page .bag-size-wrap .icon:after {
  content: "";
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-size: contain;
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}
.content.create-page .bag-size-wrap .icon.small-bag:before {
  background-image: url("/images/arrow-right.svg");
  right: 6px;
}
.content.create-page .bag-size-wrap .icon.small-bag:after {
  background-image: url("/images/arrow-left.svg");
  left: 6px;
}
.content.create-page .bag-size-wrap .icon.big-bag:after {
  background-image: url("/images/arrow-right.svg");
  left: 6px;
}
.content.create-page .bag-size-wrap .icon.big-bag:before {
  background-image: url("/images/arrow-left.svg");
  right: 6px;
}

.content.browse-page .tote-grid-element {
  display: inline-block;
  float: left;
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background-color: #ececec;
  background: linear-gradient(135deg, white, #e3e3e3);
  transition: 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.content.browse-page .tote-grid-element.black {
  background: #fff;
}
.content.browse-page .tote-grid-element.red {
  background: #3c3c3c;
}
.content.browse-page .tote-grid-element.red .tote-wrap .actual-tote .handle:before {
  background: #3c3c3c;
}
.content.browse-page .tote-grid-element.red .tote-wrap .actual-tote .bag-bottom .bl-corner, .content.browse-page .tote-grid-element.red .tote-wrap .actual-tote .br-corner {
  border-left-color: #3c3c3c;
  border-bottom-color: #3c3c3c;
}
.content.browse-page .tote-grid-element.white {
  background: #fa4248;
}
.content.browse-page .tote-grid-element.white .tote-wrap .actual-tote .handle {
  border: 0;
}
.content.browse-page .tote-grid-element.white .tote-wrap .actual-tote .handle:before {
  background: #fa4248;
  border: 0;
}
.content.browse-page .tote-grid-element.white .tote-wrap .actual-tote .bag-body {
  border: 0;
}
.content.browse-page .tote-grid-element.white .tote-wrap .actual-tote .bag-bottom .bottom {
  border: 0;
}
.content.browse-page .tote-grid-element.white .tote-wrap .actual-tote .bag-bottom .bl-corner, .content.browse-page .tote-grid-element.white .tote-wrap .actual-tote .bag-bottom .br-corner {
  border-left-color: #fa4248;
  border-bottom-color: #fa4248;
}
.content.browse-page .tote-grid-element.white .tote-wrap .actual-tote .bag-bottom .bl-corner:after, .content.browse-page .tote-grid-element.white .tote-wrap .actual-tote .bag-bottom .br-corner:after {
  background-color: transparent;
}
.content.browse-page .tote-grid-element.start {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
.content.browse-page .tote-grid-element.no-transition {
  transition: none;
}
.content.browse-page .tote-grid-element:hover .tote-wrap {
  -webkit-transform: scale(1.1) translateY(-45%);
  -ms-transform: scale(1.1) translateY(-45%);
  transform: scale(1.1) translateY(-45%);
}
.content.browse-page .tote-grid-element:hover .tote-wrap .actual-tote .shadow-blur {
  opacity: 1;
}
.content.browse-page .tote-grid-element:hover .heart-outer-wrap {
  opacity: 0.8;
}
.content.browse-page .tote-grid-element .heart-outer-wrap {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 101;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  opacity: 0;
}
.content.browse-page .tote-grid-element .heart-outer-wrap:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
}
.content.browse-page .tote-grid-element .heart-outer-wrap:hover .heart {
  opacity: 0.75;
}
.content.browse-page .tote-grid-element .heart-outer-wrap:active .heart-wrap {
  background-color: #d93182;
}
.content.browse-page .tote-grid-element .heart-outer-wrap:active .heart-wrap .heart-circle {
  width: 100%;
  height: 100%;
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.content.browse-page .tote-grid-element .heart-outer-wrap:active .heart-wrap .heart {
  opacity: 0.95;
  -webkit-transform: translateY(-49%);
  -ms-transform: translateY(-49%);
  transform: translateY(-49%);
}
.content.browse-page .tote-grid-element .heart-outer-wrap:active .heart-wrap .heart .inner-heart {
  opacity: 0;
}
.content.browse-page .tote-grid-element .heart-outer-wrap:active .heart-wrap .heart .inner-heart.white {
  opacity: 1;
}
.content.browse-page .tote-grid-element .heart-outer-wrap.favorited {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.9;
}
.content.browse-page .tote-grid-element .heart-outer-wrap.favorited:hover {
  opacity: 1;
}
.content.browse-page .tote-grid-element .heart-outer-wrap.favorited .heart-wrap {
  background-color: #fff;
}
.content.browse-page .tote-grid-element .heart-outer-wrap.favorited .heart-wrap .heart-circle {
  width: 100%;
  height: 100%;
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.content.browse-page .tote-grid-element .heart-outer-wrap.favorited .heart-wrap .heart {
  opacity: 0.95;
  -webkit-transform: translateY(-49%);
  -ms-transform: translateY(-49%);
  transform: translateY(-49%);
}
.content.browse-page .tote-grid-element .heart-outer-wrap.favorited .heart-wrap .heart .inner-heart {
  opacity: 0;
}
.content.browse-page .tote-grid-element .heart-outer-wrap.favorited .heart-wrap .heart .inner-heart.magenta {
  opacity: 1;
}
.content.browse-page .tote-grid-element .heart-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -ms-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.content.browse-page .tote-grid-element .heart-wrap .heart {
  width: 50%;
  height: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0.5;
}
.content.browse-page .tote-grid-element .heart-wrap .heart .inner-heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.content.browse-page .tote-grid-element .heart-wrap .heart .inner-heart.grey {
  background-image: url("/images/heart-grey.svg");
}
.content.browse-page .tote-grid-element .heart-wrap .heart .inner-heart.white {
  background-image: url("/images/heart-white.svg");
  opacity: 0;
}
.content.browse-page .tote-grid-element .heart-wrap .heart .inner-heart.magenta {
  background-image: url("/images/heart-magenta.svg");
  opacity: 0;
}
.content.browse-page .tote-grid-element .heart-wrap .heart-circle {
  position: absolute;
  width: 2px;
  height: 2px;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -o-border-radius: 50%;
  border-radius: 50%;
}
.content.browse-page .tote-grid-element .tote-wrap {
  max-width: 60%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 101;
}
.content.browse-page .tote-grid-element .tote-wrap .actual-tote {
  transition: 0s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
}
.content.browse-page .tote-grid-element .tote-wrap .actual-tote .shadow-blur {
  opacity: 0;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

@media screen and (max-width: 1280px) {
  .content.browse-page .tote-grid-element {
    width: 33.33%;
    padding-bottom: 33.33%;
  }
}
@media screen and (max-width: 940px) {
  .content.browse-page .tote-grid-element {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media screen and (max-width: 640px) {
  .content.browse-page .tote-grid-element {
    width: 100%;
    padding-bottom: 100%;
  }
}
.featured-carousel {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 300;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  transition: 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  overflow: hidden;
}
.featured-carousel.on {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.featured-carousel.no-transition {
  transition: none;
}
.featured-carousel .arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid black;
  z-index: 50;
  opacity: 0.2;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.7, 0, 0.3, 1);
}
.featured-carousel .arrow.left {
  left: 30px;
  background: url("/images/left-black-arrow.svg") center center no-repeat;
  background-size: 50% 50%;
}
.featured-carousel .arrow.left:hover {
  -webkit-transform: translate3d(-3px, -3px, 0);
  -ms-transform: translate3d(-3px, -3px, 0);
  transform: translate3d(-3px, -3px, 0);
}
.featured-carousel .arrow.right {
  right: 30px;
  background: url("/images/right-black-arrow.svg") center center no-repeat;
  background-size: 50% 50%;
}
.featured-carousel .arrow.right:hover {
  -webkit-transform: translate3d(3px, -3px, 0);
  -ms-transform: translate3d(3px, -3px, 0);
  transform: translate3d(3px, -3px, 0);
}
.featured-carousel .arrow.disabled {
  opacity: 0;
}
.featured-carousel .arrow.disabled:hover {
  opacity: 0;
}
.featured-carousel .arrow:hover {
  width: 66px;
  height: 66px;
  opacity: 0.4;
}
.featured-carousel .close-overlay {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 50;
  width: 60px;
  height: 60px;
  cursor: pointer;
  opacity: 0.4;
  transition: 0.2s cubic-bezier(0.7, 0, 0.3, 1);
  background: url("/images/x-close.svg") center center no-repeat;
}
.featured-carousel .close-overlay:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.featured-carousel .heart-wrap {
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border: 4px solid rgba(0, 0, 0, 0.2);
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 50;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.featured-carousel .heart-wrap:hover {
  width: 72px;
  height: 72px;
  border: 4px solid rgba(0, 0, 0, 0.4);
  -webkit-transform: translate3d(-3px, 6px, 0);
  -ms-transform: translate3d(-3px, 6px, 0);
  transform: translate3d(-3px, 6px, 0);
}
.featured-carousel .heart-wrap:hover .heart {
  -webkit-transform: translateY(-48%) scale(1.1);
  -ms-transform: translateY(-48%) scale(1.1);
  transform: translateY(-48%) scale(1.1);
  opacity: 1;
}
.featured-carousel .heart-wrap .heart {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  opacity: 0.5;
  -webkit-transform: translateY(-49%);
  -ms-transform: translateY(-49%);
  transform: translateY(-49%);
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.featured-carousel .heart-wrap .heart .inner-heart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.featured-carousel .heart-wrap .heart .inner-heart.grey {
  background: url("/images/heart-grey.svg") center center no-repeat;
  background-size: contain;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.featured-carousel .heart-wrap .heart .inner-heart.white {
  background: url("/images/heart-white.svg") center center no-repeat;
  background-size: contain;
}
.featured-carousel .heart-wrap .heart-circle {
  position: absolute;
  width: 2px;
  height: 2px;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fe3232;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  -o-border-radius: 50%;
  border-radius: 50%;
}
.featured-carousel .heart-wrap.favorited {
  opacity: 0.85;
  border: 1px solid transparent;
  width: 72px;
  height: 72px;
  -webkit-transform: translate3d(-3px, 6px, 0);
  -ms-transform: translate3d(-3px, 6px, 0);
  transform: translate3d(-3px, 6px, 0);
}
.featured-carousel .heart-wrap.favorited:hover {
  opacity: 1;
}
.featured-carousel .heart-wrap.favorited .heart-circle {
  width: 100%;
  height: 100%;
  opacity: 0.95;
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.featured-carousel .heart-wrap.favorited .heart {
  opacity: 0.95;
  -webkit-transform: translateY(-49%) scale(1.1);
  -ms-transform: translateY(-49%) scale(1.1);
  transform: translateY(-49%) scale(1.1);
}
.featured-carousel .heart-wrap.favorited .heart .grey {
  opacity: 0;
}
.featured-carousel .featured-carousel-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.featured-carousel .featured-carousel-wrap.animating {
  width: 200%;
}
.featured-carousel .featured-carousel-wrap.animating .overlay-tote {
  width: 50%;
}
.featured-carousel .featured-carousel-wrap.animating.next .overlay-tote {
  left: 0;
}
.featured-carousel .featured-carousel-wrap.animating.next .overlay-tote .actual-tote {
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.featured-carousel .featured-carousel-wrap.animating.next .overlay-tote .actual-tote .tote-shadow {
  -webkit-transform: rotate(5deg) scaleX(1.1);
  -ms-transform: rotate(5deg) scaleX(1.1);
  transform: rotate(5deg) scaleX(1.1);
}
.featured-carousel .featured-carousel-wrap.animating.next .overlay-tote.next {
  left: 50%;
}
.featured-carousel .featured-carousel-wrap.animating.prev {
  right: 0;
  left: auto;
}
.featured-carousel .featured-carousel-wrap.animating.prev .overlay-tote {
  left: 50%;
}
.featured-carousel .featured-carousel-wrap.animating.prev .overlay-tote .actual-tote {
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
.featured-carousel .featured-carousel-wrap.animating.prev .overlay-tote .actual-tote .tote-shadow {
  -webkit-transform: rotate(-5deg) scaleX(1.1);
  -ms-transform: rotate(-5deg) scaleX(1.1);
  transform: rotate(-5deg) scaleX(1.1);
}
.featured-carousel .featured-carousel-wrap.animating.prev .overlay-tote.prev {
  left: 0;
}
.featured-carousel .featured-carousel-wrap .overlay-tote {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  height: 100%;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.black .text-wrap {
  color: #fff;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.black.small .actual-tote {
  background-image: url("/images/bag-small-black.svg");
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.black.big .actual-tote {
  background-image: url("/images/bag-big-black.svg");
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.white .text-wrap {
  color: #000;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.white.small .actual-tote {
  background-image: url("/images/bag-small-white.svg");
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.white.big .actual-tote {
  background-image: url("/images/bag-big-white.svg");
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.red .text-wrap {
  color: #fff;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.red.small .actual-tote {
  background-image: url("/images/bag-small-red.svg");
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.red.big .actual-tote {
  background-image: url("/images/bag-big-red.svg");
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.small {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  width: 70%;
  width: -o-calc(100% - 2*128px);
  width: calc(100% - 2*128px);
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.small .actual-tote {
  padding-bottom: 177%;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.small .text-wrap {
  width: 72%;
  left: 14%;
  top: 50%;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.big {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  width: 80%;
  width: -o-calc(100% - 2*128px);
  width: calc(100% - 2*128px);
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.big .actual-tote {
  padding-bottom: 150%;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.big .text-wrap {
  width: 80%;
  left: 10%;
  top: 52%;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap .actual-tote {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 20;
  bottom: 178px;
  height: 0;
  width: 100%;
  margin: 0 auto;
  cursor: default;
  background: url("/images/bag-small-black.svg") center center no-repeat;
  background-size: contain;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap .actual-tote:hover {
  -webkit-animation: swing 2s infinite ease-in-out;
  -ms-animation: swing 2s infinite ease-in-out;
  animation: swing 2s infinite ease-in-out;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap .actual-tote:hover .tote-shadow {
  -webkit-animation: shadow-swing 2s infinite ease-in-out;
  -ms-animation: shadow-swing 2s infinite ease-in-out;
  animation: shadow-swing 2s infinite ease-in-out;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap .actual-tote .text-wrap {
  height: 1.3em;
  position: absolute;
  font-size: 5em;
  line-height: 1em;
  letter-spacing: -3px;
  z-index: 200;
  margin: 0 auto;
  left: 0;
  right: 0;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap .actual-tote .shadow-blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35px;
  z-index: -1;
}
.featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap .actual-tote .shadow-blur .tote-shadow {
  background: rgba(0, 0, 0, 0.2);
  background: radial-gradient(50% center, ellipse farthest-side, rgba(0, 0, 0, 0.4), transparent);
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 5%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -50px;
  transition: 0.3s cubic-bezier(0.7, 0, 0.3, 1);
}

@media screen and (max-width: 768px) {
  .featured-carousel .arrow {
    display: none;
  }
  .featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.small {
    width: -o-calc(100% - 2*30px);
    width: calc(100% - 2*30px);
  }
  .featured-carousel .featured-carousel-wrap .overlay-tote .grid-wrap.big {
    width: -o-calc(100% - 2*30px);
    width: calc(100% - 2*30px);
  }
}
