button{
    position: fixed;
    z-index: $z-second-level;

    &.close{
        top: $body-padding;
        left: $body-padding;
        // @include prefix (box-shadow, none);
        // background-color: transparent;

        &:after{
            width: 50%;
            height: 50%;
            background: url("/images/x-close.svg") center center no-repeat;
            background-size: contain;
            opacity: 0.3;
            content: "";
            @include centerAbsV;
            @include centerAbsH;
            @include prefix (transition, 0.3s $easing-curve);
        }

        &:hover:after{
            opacity: 0.6;
        }
    }
    &.save{
        top: $body-padding;
        right: $body-padding;
        background-color: $fadedRed;

        &:after{
            content: "";
            position: absolute;
            @include centerAbsV;
            @include centerAbsH;
            width: 50%;
            height: 50%;
            background: url("/images/check-white.svg") center center no-repeat;
            background-size: contain;
        }
    }

}


.content.create-page{
    position: relative;
    min-height: 100vh;
    background-color: $lightestGrey;

    .tote-wrap{
        max-width: 80vw;
        width: 800px;
        margin: 0 auto;

        .actual-tote{
            padding-bottom: $navHeight * 1.5;
            
            .handle{
                &:before{
                    background-color: $lightestGrey;
                }
            }
            .bag-body{
                .editable-field{
                    position: absolute;
                    max-height: 100%;
                    cursor: move;
                    cursor: -webkit-grab;
                    cursor: -moz-grab;
                    top: 0;
                    left: 0;
                    z-index: $z-first-level;

                    &.selected, &.selected:hover{
                        z-index: $z-third-level;

                        .border{
                            border: 1px dashed rgba(200, 200, 200, 1);
                        }

                        .corner{
                            width: 20px;
                            height: 20px;

                            &.tr{
                                width: 30px;
                                height: 30px;
                                top: -15px;
                                right: -15px;
                                @include linear-gradient(top, $red, #cd173a);
                            }
                            &.tl{
                                top: -10px;
                                left: -10px;
                            }
                            &.bl{
                                bottom: -10px;
                                left: -10px;
                            }
                            &.br{
                                bottom: -10px;
                                right: -10px;
                            }
                        }
                        .text-controls{
                            opacity: 1;
                            pointer-events: auto;
                            @include prefix (transform, translate3d(-50%, 0, 0));
                            margin-bottom: $navHeight + 20px;
                        }
                    }

                    &:hover{
                        .border{
                            border: 1px dashed rgba(200, 200, 200, 0.3);
                        }
                        .corner{
                            width: 5px;
                            height: 5px;

                            &.tr{
                                top: -2.5px;
                                right: -2.5px;
                                @include linear-gradient(top, #fafafa, #efefef);
                            }
                            &.tl{
                                top: -2.5px;
                                left: -2.5px;
                            }
                            &.bl{
                                bottom: -2.5px;
                                left: -2.5px;
                            }
                            &.br{
                                bottom: -2.5px;
                                right: -2.5px;
                            }
                        }
                    }

                    .border{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border: 1px dashed transparent;
                        @include prefix (transition, 0.3s $easing-curve);
                    }
                    .corner{
                        width: 0;
                        height: 0;
                        overflow: hidden;
                        @include prefix (border-radius, 50%);
                        @include linear-gradient(top, #fafafa, #efefef);
                        @include prefix (box-shadow, 0px 2px 4px 0px rgba(0,0,0,0.50));
                        cursor: move;
                        cursor: -webkit-grab;
                        cursor: -moz-grab;
                        position: absolute;
                        z-index: $z-first-level;
                        @include prefix (transition, 0.3s $easing-curve);
                        @include prefix (transition-property, width, height, top, left, bottom, right);

                        &.tr{
                            top: 0;
                            right: 0;
                            @include linear-gradient(top, $red, #cd173a);
                            cursor: pointer;

                            &:after{
                                content: "";
                                
                                width: 40%;
                                height: 40%;
                                @include centerAbsV;
                                @include centerAbsH;

                                z-index: $z-first-level;
                                background: url("/images/x-close-white.svg") center center no-repeat;
                                background-size: contain;
                            }
                        }
                        &.tl{
                            top: 0;
                            left: 0;
                        }
                        &.bl{
                            bottom: 0;
                            left: 0;
                        }
                        &.br{
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
                // text controls, :after is tooltip arrow
                .text-controls{
                    background-color: rgba(45, 45, 45, 0.95);
                    width: 220px;
                    padding: 15px 25px;
                    opacity: 0;
                    pointer-events: none;
                    @include prefix (transition, 0.5s $easing-curve);

                    //centered below:
                    position: absolute;
                    left: 50%;
                    @include prefix (transform, translate3d(-50%, -50px, 0));
                    @include calc (top, calc(100% + 25px));
                    
                    //centered right:
                    // @include prefix (transform, translateY(-50px));
                    // left: 120%;
                    // @include centerAbsV;
                    

                    &:after {
                        border: solid transparent;
                        content: "";
                        height: 0;
                        width: 0;
                        pointer-events: none;
                        border-width: 15px;

                        // centered below:
                        border-bottom-color: rgba(45, 45, 45, 0.95);
                        @include centerAbsH;
                        bottom: 100%;

                        // centered right
                        // border-right-color: rgba(20, 20, 20, 0.8);
                        // @include centerAbsV;
                        // right: 100%;
                    }

                    .justification{
                        width: 100%;
                        height: 40px;

                        *{
                            width: 33.33%;
                            float: left;
                            display: inline-block;
                            height: 100%;
                            cursor: pointer;
                            position: relative;
                            z-index: $z-first-level;
                        }
                        .justify-left{
                            background: url("/images/aligned-left-white.svg") no-repeat left center;
                            &.sel{
                                background-image: url("/images/aligned-left-blue.svg");
                            }
                        }
                        .justify-center{
                            background: url("/images/aligned-center-white.svg") no-repeat center center;
                            &.sel{
                                background-image: url("/images/aligned-center-blue.svg");
                            }
                        }
                        .justify-right{
                            background: url("/images/aligned-right-white.svg") no-repeat right center;
                            &.sel{
                                background-image: url("/images/aligned-right-blue.svg");
                            }
                        }
                    }
                    .type-control-wrap{
                        .type-control{
                            width: 100%;
                            height: 30px;
                            margin: 10px 0;

                            *{
                                float:left;
                            }
                            
                            .icon{
                                height: 100%;
                                width: 30px;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }

                            input[type=range]{
                                width: 120px;
                                margin-left: 15px;
                                @include prefix (transform, translateY(5px));
                            }

                            &.size .icon{
                                background-image: url("/images/typesize.svg");
                            }
                            &.kerning .icon{
                                background-image: url("/images/kerning.svg");
                            }
                            &.leading .icon{
                                background-image: url("/images/leading.svg");
                            }
                        }
                    }
                }
                textarea{
                    position: absolute;
                    background: transparent;
                    resize: none;
                    font-family: HugeAvantGarde;
                    outline: none;
                    border: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    padding-bottom: 0.2em;
                    @include contentBox;

                    font-size: inherit;
                    letter-spacing: inherit;
                    line-height: inherit;
                    top: 0;
                    left: 0;
                    text-align: inherit;

                    @include prefix (touch-callout, none);
                    @include prefix (user-select, none);


                    cursor: move;
                    cursor: -webkit-grab;
                    cursor: -moz-grab;

                    @include placeholder {
                        font-family: HugeAvantGarde;
                        color: rgba(205, 205, 205, 0.5);
                    }
                }
                .clone-text{
                    pointer-events: none;
                    opacity: 0;
                }
            }
            .bag-bottom{
                .bl-corner, .br-corner{
                    border-left-color: $lightestGrey;
                    border-bottom-color: $lightestGrey;
                }
            }
        }
    }

    // keep for when we want to make a bottom tool bar
    .bottom-bar{
        width: 100%;
        height: $body-padding * 2 + $button-size;
       
        //border-top: 1px solid $stroke-color;
        background-color: rgba(248, 248, 248, 0.9);
       
        position: fixed;
        z-index: $z-third-level;
        bottom: 0;
        left: 0;
    }

    .color-control-wrap{
        position: absolute;

        bottom: $body-padding;
        right: $body-padding;
        width: $button-size;
        height: $button-size;
        @include prefix (transition, 0.3s $easing-curve);

        &.expand{
            height: ($button-size + 15px) * 2 + $button-size;
            
            .colors{
                @include prefix (transform, translateY(-#{$button-size + 15px}));
                
                .color{
                    width: $button-size;
                    height: $button-size;

                    &[rel=red]{
                        @include prefix (transition, 0.3s 0.2s $easing-curve);
                        border: 3px solid #fff;
                    }
                    &[rel=black]{
                        @include prefix (transition, 0.3s 0.15s $easing-curve);
                        border: 3px solid #fff;
                    }
                    &[rel=white]{
                        @include prefix (transition, 0.3s 0.1s $easing-curve);
                        border: 3px solid transparent;
                    }
                }
            }
            .color-control{
                @include prefix (transform, scale(0.5));
                background-color: #000;

                &:before{
                    opacity: 0;
                }
                &:after{
                    opacity: 1;
                }

                &:hover{
                    @include prefix (transform, scale(0.65));
                }
            }
        }
    }

    .color-control{
        bottom: 0;
        left: 0;
        position: absolute;
        background-color: #fff;
        @include prefix (transition, 0.3s $easing-curve);

        &:before, &:after{
            content: "";
            @include centerAbsH;
            @include centerAbsV;
            width: 100%;
            height: 100%;
            @include prefix (border-radius, 50%);
            @include prefix (transition, 0.15s $easing-curve);
        }

        &:before{
            background: url("/images/color-wheel.svg") center center no-repeat;
        }
        &:after{
            background: url("/images/x-close-white.svg") center center no-repeat;
            opacity: 0;
            width: 50%;
            height: 50%;
        }
    }
    .colors{
        height: 100%;
        @include prefix (transition, 0.3s $easing-curve);
        
        .color{
            @include centerAbsH;
            width: $button-size * 0.25;
            height: $button-size * 0.25;
            @include prefix (border-radius, 50%);
            border: 3px solid transparent;
            @include prefix (transition, 0.15s $easing-curve);
            cursor: pointer;
            @include prefix (box-shadow, 0 2px 4px 2px rgba(0,0,0,0.15));

            &:hover .color-wrap{
                @include prefix (box-shadow, 0 2px 6px 2px rgba(0,0,0,0.2));
            }

            &[rel=red]{
                background-color: $red;
                top: 0;
            }
            &[rel=black]{
                background-color: #000;
                bottom: 0;
            }
            &[rel=white]{
                background-color: #fff;
                @include prefix (transform, translateY(-50%));
                top: 50%;
            }
            .color-wrap{
                @include prefix (transition, 0.3s $easing-curve);
                width: 100%;
                height: 100%;
                position: absolute; 
                top: 0;
                left: 0;
                @include prefix (border-radius, 50%);
            }
        }
    }

    .addTextfield{
        @include centerAbsV;
        left: $body-padding;

        &:not(.disabled):hover{
            @include prefix (transform, translateY(-50%) scale(1.1));
        }

        &:before{
            content: "";
            position: absolute;
            @include centerAbsH;
            @include centerAbsV;
            background: url("/images/x-close.svg") center center no-repeat;
            background-size: contain;
            @include prefix (transform, translateY(-50%) rotate(45deg) );
            width: 40%;
            height: 40%;
        }

        &.disabled{
            background-color: $grey;
            cursor: auto;
        }
    }

    .bag-size-wrap{
        @include centerAbsV;
        @include centerAbsH;
        @include prefix (border-top-right-radius, 25% 50%);
        @include prefix (border-top-left-radius, 25% 50%);
        @include prefix (border-bottom-left-radius, 25% 50%);
        @include prefix (border-bottom-right-radius, 25% 50%);
        height: $button-size;
        width: $button-size * 2;
        background-color: $lightGrey;
        border: 1px solid $grey;
        @include prefix (box-shadow, 0 1px 2px 1px rgba(0,0,0,0.2));
        
        .selector{
            width: $button-size;
            height: $button-size;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            border: 1px solid $grey;
            @include prefix (border-radius, 50%);
            @include prefix (box-shadow, 0 3px 6px 2px rgba(0,0,0,0.15));
            cursor: move;
            cursor: -webkit-grab;
            cursor: -moz-grab;
            z-index: $z-second-level;
            // @include prefix (transition, 0.3s $easing-curve);

            &:hover{
                // @include prefix (transform, scale(1.1));
                @include prefix (box-shadow, 0 4px 6px 3px rgba(0,0,0,0.2));
                // background-color: $lightestGrey;
            }
        }

        &.small{
            .icon.small-bag{
                opacity: 0.5;
            }
        }
        &.big{
            .icon.big-bag{
                opacity: 0.5;
            }
        }

        .icon{
            width: 50%;
            height: $button-size;
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;

            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("/images/small-bag-icon.svg");
            background-size: ($button-size - 15px) (($button-size - 15px) / 2);
            opacity: 0.3;
            position: relative;
            cursor: pointer;
            @include prefix (transition, 0s 0.4s $easing-curve);

            &:before, &:after{
                content: "";
                @include centerAbsV;
                background-size: contain;
                width: 10px;
                height: 10px;
                background-repeat: no-repeat;
                background-position: center center;
            }
            &.small-bag{
                &:before{
                    background-image: url("/images/arrow-right.svg");
                    right: 6px;
                }
                &:after{
                    background-image: url("/images/arrow-left.svg");
                    left: 6px;
                }
            }
            &.big-bag{
                &:after{
                    background-image: url("/images/arrow-right.svg");
                    left: 6px;
                }
                &:before{
                    background-image: url("/images/arrow-left.svg");
                    right: 6px;
                }
            }
        }
    }
}