.content.create-page{
    position: relative;
    min-height: 100vh;

    .tote-wrap{
        max-width: 80vw;
        width: 800px;
        margin: 0 auto;

        .actual-tote{
            padding-bottom: $navHeight * 1.5;

            .bag-body{
                .editable-field{
                    position: absolute;
                    max-height: 100%;

                    &.selected{
                        border: 1px dashed #ccc;
                        z-index: $z-third-level;

                        .corner{
                            width: 20px;
                            height: 20px;

                            &.tr{
                                width: 30px;
                                height: 30px;
                                top: -15px;
                                right: -15px;
                            }
                            &.tl{
                                top: -10px;
                                left: -10px;
                            }
                            &.bl{
                                bottom: -10px;
                                left: -10px;
                            }
                            &.br{
                                bottom: -10px;
                                right: -10px;
                            }
                        }
                        .text-controls{
                            opacity: 1;
                            pointer-events: auto;
                            @include prefix (transform, translateY(0));
                            margin-bottom: $navHeight + 20px;
                        }
                    }

                    .corner{
                        width: 0;
                        height: 0;
                        overflow: hidden;
                        @include prefix (border-radius, 50%);
                        @include linear-gradient(top, #fafafa, #efefef);
                        @include prefix (box-shadow, 0px 2px 4px 0px rgba(0,0,0,0.50));
                        cursor: move;
                        cursor: -webkit-grab;
                        cursor: -moz-grab;
                        position: absolute;
                        z-index: $z-first-level;
                        @include prefix (transition, 0.3s $easing-curve);
                        @include prefix (transition-property, width, height, top, left, bottom, right);

                        &.tr{
                            top: 0;
                            right: 0;
                            @include linear-gradient(top, $red, #cd173a);
                            cursor: pointer;

                            &:after{
                                content: "";
                                
                                width: 40%;
                                height: 40%;
                                @include centerAbsV;
                                @include centerAbsH;

                                z-index: $z-first-level;
                                background: url("/images/x-close-white.svg") center center no-repeat;
                                background-size: contain;
                            }
                        }
                        &.tl{
                            top: 0;
                            left: 0;
                        }
                        &.bl{
                            bottom: 0;
                            left: 0;
                        }
                        &.br{
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
                // text controls, :after is tooltip arrow
                .text-controls{
                    background-color: rgba(45, 45, 45, 0.95);
                    width: 220px;
                    padding: 15px 25px;
                    opacity: 0;
                    pointer-events: none;
                    @include prefix (transition, 0.5s $easing-curve);

                    //centered below:
                    @include prefix (transform, translateY(-50px));
                    @include calc (top, calc(100% + 25px));
                    @include centerAbsH;
                    
                    //centered right:
                    // @include prefix (transform, translateY(-50px));
                    // left: 120%;
                    // @include centerAbsV;
                    

                    &:after {
                        border: solid transparent;
                        content: "";
                        height: 0;
                        width: 0;
                        pointer-events: none;
                        border-width: 15px;

                        // centered below:
                        border-bottom-color: rgba(45, 45, 45, 0.95);
                        @include centerAbsH;
                        bottom: 100%;

                        // centered right
                        // border-right-color: rgba(20, 20, 20, 0.8);
                        // @include centerAbsV;
                        // right: 100%;
                    }

                    .justification{
                        width: 100%;
                        height: 40px;

                        *{
                            width: 33.33%;
                            float: left;
                            display: inline-block;
                            height: 100%;
                            cursor: pointer;
                            position: relative;
                            z-index: $z-first-level;
                        }
                        .justify-left{
                            background: url("/images/aligned-left-white.svg") no-repeat left center;
                            &.sel{
                                background-image: url("/images/aligned-left-blue.svg");
                            }
                        }
                        .justify-center{
                            background: url("/images/aligned-center-white.svg") no-repeat center center;
                            &.sel{
                                background-image: url("/images/aligned-center-blue.svg");
                            }
                        }
                        .justify-right{
                            background: url("/images/aligned-right-white.svg") no-repeat right center;
                            &.sel{
                                background-image: url("/images/aligned-right-blue.svg");
                            }
                        }
                    }
                    .type-control-wrap{
                        .type-control{
                            width: 100%;
                            height: 30px;
                            margin: 10px 0;

                            *{
                                float:left;
                            }
                            
                            .icon{
                                height: 100%;
                                width: 30px;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }

                            input[type=range]{
                                width: 120px;
                                margin-left: 15px;
                                @include prefix (transform, translateY(5px));
                            }

                            &.size .icon{
                                background-image: url("/images/typesize.svg");
                            }
                            &.kerning .icon{
                                background-image: url("/images/kerning.svg");
                            }
                            &.leading .icon{
                                background-image: url("/images/leading.svg");
                            }
                        }
                    }
                }
                textarea{
                    position: absolute;
                    background: transparent;
                    resize: none;
                    font-family: HugeAvantGarde;
                    outline: none;
                    border: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    padding-bottom: 0.2em;
                    @include contentBox;

                    font-size: inherit;
                    letter-spacing: inherit;
                    line-height: inherit;
                    top: 0;
                    left: 0;
                    text-align: inherit;

                    @include prefix (touch-callout, none);
                    @include prefix (user-select, none);

                    @include placeholder {
                        font-family: HugeAvantGarde;
                        color: rgba(225, 225, 225, 0.5);
                    }
                }
                .clone-text{
                    pointer-events: none;
                    opacity: 0;
                }
            }
        }
    }

    // keep for when we want to make a bottom tool bar
    .bottom-bar{
        width: 100%;
        height: $navHeight;
       
        //border-top: 1px solid $stroke-color;
        background-color: rgba(255, 255, 255, 0.95);
       
        position: fixed;
        z-index: $z-third-level;
        bottom: 0;
        left: 0;
    }

    .color-control-wrap{
        width: 40px;
        height: 40px;
        background: url("/images/color-wheel.svg") center center no-repeat;
        background-size: contain;
        
        @include centerAbsV;
        right: $body-padding;
        cursor: pointer;
        @include prefix (transition, 0.3s $easing-curve);

        &:hover{
            @include prefix (transform, translateY(-50%) scale(1.2));
        }
    }

    .addTextfield{
        width: 45px;
        height: 45px;
        @include centerAbsH;
        @include centerAbsV;
        cursor: pointer;
        @include prefix (transition, 0.3s $easing-curve);
        @include prefix (border-radius, 50%);
        // @include prefix (box-shadow, 0 0 10px 2px rgba(0,0,0,0.3));
        background-color: $magenta;

        &:not(.disabled):hover{
            @include prefix (transform, translateY(-50%) scale(1.1));
        }

        &:before, &:after{
            content: "";
            position: absolute;
            @include centerAbsH;
            @include centerAbsV;
            background-color: #fff;
            height: 3px;
            width: 3px;
        }

        &:before{
            height: 50%;
        }
        &:after{
            width: 50%;
        }

        &.disabled{
            background-color: $grey;
            cursor: auto;
        }
    }

    .bag-size-wrap{
        @include centerAbsV;
        left: $body-padding;

        .icon{
            width: 30px;
            height: 30px;
            display: inline-block;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            opacity: 0.3;
            @include prefix (transition, 0.2s $easing-curve);

            &:first-child{
                margin-right: 10px;
            }
            &.sel{
                opacity: 1;
                
                &:hover{
                    opacity: 1;
                }
            }
            &:hover{
                opacity: 0.6;
            }
            &.small-bag{
                background-image: url("/images/small-bag-icon.svg");
            }
            &.big-bag{
                background-image: url("/images/big-bag-icon.svg");   
            }
        }
    }
}