button{
    position: fixed;
    z-index: $z-second-level;

    &.close{
        top: $body-padding;
        left: $body-padding;
    }
    &.save{
        top: $body-padding;
        right: $body-padding;
        background-color: $fadedRed;
        color: #fff;
    }

}

@media screen and (max-width: $medBP) {
    body button{
        &.close{
            top: $body-padding-sml;
            left: $body-padding-sml;
            width: $button-size-sml;

            span{
                display: none;
            }

            &:before, &:after{
                content: "";
                position: absolute;
                @include centerAbsH;
                @include centerAbsV;
                background-color: $button-text;
                @include prefix (border-radius, 2px);
                @include prefix (transform, translateY(-50%) rotate(45deg));
            }

            &:before{
                width: 3px;
                height: 50%;
            }

            &:after{
                height: 3px;
                width: 50%;
            }
        }
        &.save{
            top: $body-padding-sml;
            right: $body-padding-sml;
            width: $button-size-sml;

            span{
                display: none;
            }

            &:after{
                content: "";
                position: absolute;
                @include centerAbsV;
                @include centerAbsH;
                width: 50%;
                height: 50%;
                background: url("/images/check-white.svg") center center no-repeat;
                background-size: contain;
            }
        }
    }
    body .content.create-page {
        .bottom-bar{
            height: $body-padding-sml * 2 + $button-size-sml;

            .addTextfield{
                left: $body-padding-sml;
            }
        }

        .color-control-wrap{
            width: $button-size-sml;
            height: $button-size-sml;
            right: $body-padding-sml;

            &.expand{
                height: ($button-size-sml + 15px) * 2 + $button-size-sml;
                
                .colors{
                    @include prefix (transform, translateY(-#{$button-size-sml + 15px}));
                    
                    .color{
                        width: $button-size-sml;
                        height: $button-size-sml;

                        &[rel=red]{
                            @include prefix (transition, 0.3s 0.2s $easing-curve);
                        }
                        &[rel=black]{
                            @include prefix (transition, 0.3s 0.15s $easing-curve);
                        }
                        &[rel=white]{
                            @include prefix (transition, 0.3s 0.1s $easing-curve);
                        }
                    }
                }
                .color-control{
                    @include prefix (transform, scale(0.5));
                    background-color: #000;

                    &:before{
                        opacity: 0;
                    }
                    &:after{
                        opacity: 1;
                    }

                    &:hover{
                        @include prefix (transform, scale(0.65));
                    }
                }
            }

            button.color-control{
                display: block;
            }

            .colors {
                height: 100%;

                .color{
                    width: $button-size * 0.25;
                    height: $button-size * 0.25;
                    @include centerAbsH;

                    &[rel=red]{
                        top: 0;
                    }
                    &[rel=black]{
                        bottom: 0;
                    }
                    &[rel=white]{
                        @include prefix (transform, translateY(-50%));
                        top: 50%;
                    }
                }
            }
        }
        .addTextfield{
            margin-top: -$button-size-sml/2;
        }
        .bag-size-wrap{
            margin-top: -$button-size-sml/2;
            width: 180px;
            
            &:after{
                line-height: $button-size-sml !important;
                font-size: 12px;
                letter-spacing: 0.08em;
            }
        }
    }
}

.content.create-page{
    position: relative;
    min-height: 100vh;
    background-color: $lightestGrey;

    .tote-wrap{
        max-width: 80vw;
        width: 800px;
        margin: 0 auto;

        &.red .actual-tote .bag-body .editable-field.strikethrough .clone-text-wrap {
            // color: #000;
        }

        .actual-tote{
            padding-bottom: $navHeight * 1.5;
            
            .handle{
                &:before{
                    background-color: $lightestGrey;
                }
            }
            .bag-body{
                .editable-field{
                    position: absolute;
                    max-height: 100%;
                    cursor: move;
                    cursor: -webkit-grab;
                    cursor: -moz-grab;
                    top: 0;
                    left: 0;
                    z-index: $z-first-level;

                    &.selected, &.selected:hover{
                        z-index: $z-third-level;

                        .border{
                            border: 1px dashed rgba(200, 200, 200, 1);
                        }

                        .corner{
                            width: 20px;
                            height: 20px;

                            &.tr{
                                width: 30px;
                                height: 30px;
                                top: -15px;
                                right: -15px;
                                @include linear-gradient(top, $red, #cd173a);
                            }
                            &.tl{
                                top: -10px;
                                left: -10px;
                            }
                            &.bl{
                                bottom: -10px;
                                left: -10px;
                            }
                            &.br{
                                bottom: -10px;
                                right: -10px;
                            }
                        }
                        .text-controls{
                            opacity: 1;
                            pointer-events: auto;
                            @include prefix (transform, translate3d(-50%, 0, 0));
                            margin-bottom: $navHeight + 20px;
                        }
                    }

                    &:hover{
                        .border{
                            border: 1px dashed rgba(200, 200, 200, 0.3);
                        }
                        .corner{
                            width: 5px;
                            height: 5px;

                            &.tr{
                                top: -2.5px;
                                right: -2.5px;
                                @include linear-gradient(top, #fafafa, #efefef);
                            }
                            &.tl{
                                top: -2.5px;
                                left: -2.5px;
                            }
                            &.bl{
                                bottom: -2.5px;
                                left: -2.5px;
                            }
                            &.br{
                                bottom: -2.5px;
                                right: -2.5px;
                            }
                        }
                    }

                    &.strikethrough{
                        .clone-text-wrap{
                            z-index: $z-first-level;
                            text-decoration: line-through;
                            color: $magenta;
                        }
                    }

                    .border{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border: 1px dashed transparent;
                        @include prefix (transition, 0.3s $easing-curve);
                    }
                    .corner{
                        width: 0;
                        height: 0;
                        overflow: hidden;
                        @include prefix (border-radius, 50%);
                        @include linear-gradient(top, #fafafa, #efefef);
                        @include prefix (box-shadow, 0px 2px 4px 0px rgba(0,0,0,0.50));
                        cursor: move;
                        cursor: -webkit-grab;
                        cursor: -moz-grab;
                        position: absolute;
                        z-index: $z-first-level;
                        @include prefix (transition, 0.3s $easing-curve);
                        @include prefix (transition-property, width, height, top, left, bottom, right);

                        &.tr{
                            top: 0;
                            right: 0;
                            @include linear-gradient(top, $red, #cd173a);
                            cursor: pointer;

                            &:after{
                                content: "";
                                
                                width: 40%;
                                height: 40%;
                                @include centerAbsV;
                                @include centerAbsH;

                                z-index: $z-first-level;
                                background: url("/images/x-close-white.svg") center center no-repeat;
                                background-size: contain;
                            }
                        }
                        &.tl{
                            top: 0;
                            left: 0;
                        }
                        &.bl{
                            bottom: 0;
                            left: 0;
                        }
                        &.br{
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
                // text controls, :after is tooltip arrow
                .text-controls{
                    background-color: rgba(45, 45, 45, 0.95);
                    width: 220px;
                    padding: 15px 25px;
                    opacity: 0;
                    pointer-events: none;
                    @include prefix (transition, 0.5s $easing-curve);

                    //centered below:
                    position: absolute;
                    left: 50%;
                    @include prefix (transform, translate3d(-50%, -50px, 0));
                    @include calc (top, calc(100% + 25px));
                    
                    //centered right:
                    // @include prefix (transform, translateY(-50px));
                    // left: 120%;
                    // @include centerAbsV;
                    

                    &:after {
                        border: solid transparent;
                        content: "";
                        height: 0;
                        width: 0;
                        pointer-events: none;
                        border-width: 15px;

                        // centered below:
                        border-bottom-color: rgba(45, 45, 45, 0.95);
                        @include centerAbsH;
                        bottom: 100%;

                        // centered right
                        // border-right-color: rgba(20, 20, 20, 0.8);
                        // @include centerAbsV;
                        // right: 100%;
                    }

                    .top-controls{
                        width: 100%;
                        height: 40px;

                        .justification *:not(.sel), .strikethrough:not(.sel){
                            opacity: 0.7;
                            @include prefix (transition, 0.3s $easing-curve);
                            @include prefix (transition-property, opacity);

                            &:hover{
                                opacity: 1;
                            }
                        }

                        .justification{
                            width: 75%;
                            height: 100%;
                            float: left;
                            display: inline-block;

                            *:not(.clearfix){
                                width: 33.33%;
                                height: 100%;
                                float: left;
                                display: inline-block;
                                height: 100%;
                                cursor: pointer;
                            }
                            .justify-left{
                                background: url("/images/aligned-left-white.svg") no-repeat left center;
                                &.sel{
                                    background-image: url("/images/aligned-left-blue.svg");
                                }
                            }
                            .justify-center{
                                background: url("/images/aligned-center-white.svg") no-repeat left center;
                                &.sel{
                                    background-image: url("/images/aligned-center-blue.svg");
                                }
                            }
                            .justify-right{
                                background: url("/images/aligned-right-white.svg") no-repeat left center ;
                                border-right: 1px dotted rgba(255, 255, 255, 0.2);
                                &.sel{
                                    background-image: url("/images/aligned-right-blue.svg");
                                }
                            }
                        }
                        .strikethrough{
                            width: 25%;
                            height: 100%;
                            display: inline-block;
                            float: left;
                            background: url("/images/strikethrough-white.svg") no-repeat center right;
                            background-size: 22px 22px;
                            cursor: pointer;

                            &.sel{
                                background-image: url("/images/strikethrough-blue.svg");
                            }
                        }

                    }
                    .type-control-wrap{
                        .type-control{
                            width: 100%;
                            height: 30px;
                            margin: 10px 0;

                            *{
                                float:left;
                            }
                            
                            .icon{
                                height: 100%;
                                width: 30px;
                                background-position: center center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }

                            input[type=range]{
                                width: 120px;
                                margin-left: 15px;
                                margin-right: 0;
                                @include prefix (transform, translateY(5px));
                            }

                            &.size .icon{
                                background-image: url("/images/typesize.svg");
                            }
                            &.kerning .icon{
                                background-image: url("/images/kerning.svg");
                            }
                            &.leading .icon{
                                background-image: url("/images/leading.svg");
                            }
                        }
                    }
                }
                textarea{
                    position: absolute;
                    background: transparent;
                    resize: none;
                    font-family: HugeAvantGarde;
                    outline: none;
                    border: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    padding-bottom: 0.2em;
                    @include contentBox;

                    font-size: inherit;
                    letter-spacing: inherit;
                    line-height: inherit;
                    top: 0;
                    left: 0;
                    text-align: inherit;

                    @include prefix (touch-callout, none);
                    @include prefix (user-select, none);


                    cursor: move;
                    cursor: -webkit-grab;
                    cursor: -moz-grab;

                    @include placeholder {
                        font-family: HugeAvantGarde;
                        color: rgba(205, 205, 205, 0.5);
                    }
                }
                .clone-text-wrap{
                    pointer-events: none;
                    position: relative;

                    .clone-text{
                        color: transparent;
                    }
                }
            }
            .bag-bottom{
                .bl-corner, .br-corner{
                    border-left-color: $lightestGrey;
                    border-bottom-color: $lightestGrey;
                }
            }
        }
    }

    // keep for when we want to make a bottom tool bar
    .bottom-bar{
        width: 100%;
        height: $body-padding-sml * 2 + $button-size;
       
        //border-top: 1px solid $stroke-color;
        background-color: rgba(248, 248, 248, 0.9);
       
        position: fixed;
        z-index: $z-third-level;
        bottom: 0;
        left: 0;
    }

    .color-control-wrap{
        @include prefix (transition, 0.3s $easing-curve); 
        text-align: right;
        position: absolute;
        bottom: $body-padding-sml;
        right: $body-padding;      
    }

    .color-control{
        display: none;
        bottom: 0;
        left: 0;
        position: absolute;
        background-color: #fff;
        @include prefix (transition, 0.3s $easing-curve);

        &:before, &:after{
            content: "";
            @include centerAbsH;
            @include centerAbsV;
            width: 100%;
            height: 100%;
            @include prefix (border-radius, 50%);
            @include prefix (transition, 0.15s $easing-curve);
        }

        &:before{
            background: url("/images/tri-color-wheel.svg") center center no-repeat;
            background-size: 35px 35px;
        }
        &:after{
            background: url("/images/x-close-white.svg") center center no-repeat;
            opacity: 0;
            width: 50%;
            height: 50%;
        }
    }
    .colors{
        @include prefix (transition, 0.3s $easing-curve);
        
        .color{
            width: $button-size;
            height: $button-size;
            display: inline-block;
            margin-left: $body-padding-sml;
            @include prefix (border-radius, 50%);
            @include prefix (transition, 0.15s $easing-curve);
            cursor: pointer;
            @include prefix (box-shadow, inset 0 0 0 0px rgba(210,209,209, .4), 0 0 2px 0px rgba(1,1,1,.1), 0 2px 10px 0px rgba(1,1,1,.15));
            position: relative;
            opacity: 0.8;

            &:hover{
                @include prefix (box-shadow, inset 0 0 0 0px rgba(210,209,209, .4), 0 0 2px 0px rgba(1,1,1,.1), 0 2px 10px 0px rgba(1,1,1,.4));
                opacity: 1;
            }

            &.selected{
                &[rel=red], &[rel=black], &[rel=white]{
                    background-color: #fff;
                    border: 2px solid rgba(0,0,0,0.5);
                    opacity: 1;
                }
            }

            &[rel=red]{
                background-color: $red;

                .color-wrap{
                    background-color: $red;
                }
            }
            &[rel=black]{
                background-color: #000;

                .color-wrap{
                    background-color: #000;
                }
            }
            &[rel=white]{
                background-color: #fff;
                border: 1px solid rgba(0,0,0,0.3);

                .color-wrap{
                    background-color: #fff;
                }
            }
            .color-wrap{
                @include prefix (transition, 0.3s $easing-curve);
                width: 80%;
                height: 80%;
                @include centerAbsH;
                @include centerAbsV;
                @include prefix (border-radius, 50%);
            }
        }
    }

    .addTextfield{
        position: absolute;
        top: 50%;
        margin-top: -$button-size/2;
        left: $body-padding;

        &:before, &:after{
            content: "";
            position: absolute;
            @include centerAbsH;
            @include centerAbsV;
            background-color: $button-text;
            @include prefix (border-radius, 2px);
        }

        &:before{
            width: 3px;
            height: 50%;
        }

        &:after{
            height: 3px;
            width: 50%;
        }

        &.disabled{
            background-color: $lightGrey;
            cursor: auto;
        }
    }

    .bag-size-wrap{
        @include centerAbsH;
        top: 50%;
        margin-top: -$button-size/2;
        width: 200px;

        &:after{
            line-height: $button-size;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 0.02em;
            font-family: HugeAvantGarde;
            color: $button-text;
        }

        &:before{
            content: "";
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: $z-first-level;
            position: absolute;
            top: 0;
            left: 0;
            @include prefix (border-radius, #{$button-size/2} );
            @include prefix (transition, 0.3s $easing-curve);
        }
        
        .selector{
            width: $button-size;
            height: $button-size;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            border: 1px solid $grey;
            @include prefix (border-radius, 50%);
            @include prefix (box-shadow, 0 3px 6px 2px rgba(0,0,0,0.15));
            cursor: move;
            cursor: -webkit-grab;
            cursor: -moz-grab;
            z-index: $z-second-level;
            // @include prefix (transition, 0.3s $easing-curve);

            &:hover{
                // @include prefix (transform, scale(1.1));
                @include prefix (box-shadow, 0 4px 6px 3px rgba(0,0,0,0.2));
                // background-color: $lightestGrey;
            }
        }

        &.small{
            &:after{
                content: "Make it bigger."
            }
            &:before{
                opacity: 0;
            }
            .icon.small-bag{
                opacity: 0.5;
            }
        }
        &.big{
            &:after{
                content: "Make it smaller."
            }
            &:before{
                opacity: 0;
            }
            .icon.big-bag{
                opacity: 0.5;
            }
        }

        .icon{
            width: 50%;
            height: $button-size;
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;

            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("/images/small-bag-icon.svg");
            background-size: ($button-size - 15px) (($button-size - 15px) / 2);
            opacity: 0.3;
            position: relative;
            cursor: pointer;
            @include prefix (transition, 0s 0.4s $easing-curve);

            &:before, &:after{
                content: "";
                @include centerAbsV;
                background-size: contain;
                width: 10px;
                height: 10px;
                background-repeat: no-repeat;
                background-position: center center;
            }
            &.small-bag{
                &:before{
                    background-image: url("/images/arrow-right.svg");
                    right: 6px;
                }
                &:after{
                    background-image: url("/images/arrow-left.svg");
                    left: 6px;
                }
            }
            &.big-bag{
                &:after{
                    background-image: url("/images/arrow-right.svg");
                    left: 6px;
                }
                &:before{
                    background-image: url("/images/arrow-left.svg");
                    right: 6px;
                }
            }
        }
    }
}