@include font-face(HugeAvantGarde, '/fonts/huge_agb_v5', normal, $asset-pipeline: false);

html, body{
    margin: 0;
    padding: 0;
    font-family: HugeAvantGarde;
    font-size:16px;

    *{
        @include borderBox;
    }
}

body.lock-scroll{
    height: 100%;
    overflow: hidden;
}

button{
    width: $button-size;
    height: $button-size;
    @include prefix (border-radius, 50%);
    border: 0;
    background-color: #fff;
    @include prefix (box-shadow, 0 2px 4px 2px rgba(0,0,0,0.2));
    background-size: $button-size/2 $button-size/2;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    @include prefix (transition, 0.3s $easing-curve);
    outline: 0;

    &:hover{
        @include prefix (transform, scale(1.1));
    }
}

nav{
    height: $navHeight;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: $z-second-level;

    .logo{
        background: rgba(0,0,0,0.9) url("/images/h.svg") no-repeat center center;
        background-size: contain;
        background-size: 50% 50%;
        width: 50%;
        height: $navHeight;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .right-actions{
        height: $navHeight;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        font-size: 21px;

        & > div{
            display: inline-block;
            width: 50%;
            text-align: center;
            line-height: $navHeight;
            @include prefix (transition, 0.3s $easing-curve);
            cursor: pointer;

            &:hover{
                background-color: $magenta;
                color: #fff;
            }

            a{
                color: inherit;
                text-decoration: none;
            }
        }

        .create{
            background-color: $fadedRed;
            color: #fff;

            a{
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .sort {
            position: relative;
            padding: 0;

            &:hover{
                background-color: inherit;
                color: inherit;
            }
            
            .selected-sort{
                width: 100%;
                @include prefix (transition, 0.3s $easing-curve);
                position: relative;
                text-align: left;
                padding-left: $body-padding;

                &:hover{
                    background-color: $magenta;
                    color: #fff;

                    &:after{
                        border-top: 7px solid rgba(255,255,255,0.95);
                    }

                    & + ul{
                        height: $navHeight * 3;
                        opacity: 1;
                        pointer-events: auto;
                        @include prefix (transform, translateY(0));
                    }
                }

                .name{
                    padding: 0 10px;
                }

                &:after{
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 5px solid rgba(0,0,0,0.95);
                    position: absolute;
                    top: 50%;
                    margin-top: -3px;
                    right: $body-padding;
                    margin-left: -5px;
                }
            }
            
            ul {
                display: block;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.95);
                top: 100%;
                left: 0;
                margin: 0;
                padding: 0;
                height: 0;
                opacity: 0;
                width: 100%;
                pointer-events: none;
                //width: 250px;
                text-align: left;
                font-size: 16px;
                overflow: hidden;
                
                @include prefix (transition, 0.5s $easing-curve);
                @include prefix (transform, translateY(-10px));

                &:hover {
                    height: $navHeight * 3;
                    pointer-events: auto;
                    opacity: 1;
                    @include prefix (transform, translateY(0));
                }

                &:before{
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid rgba(0,0,0,0.95);
                    position: absolute;
                    top: -10px;
                    right: $body-padding - 5px;
                }

                &.open{
                    height: $navHeight * 3;
                    opacity: 1;
                    @include prefix (transform, translateY(0));
                }
                
                li{
                    color: #fff;
                    display: block;
                    margin: 0;
                    box-sizing: border-box;
                    padding: 0 30px;
                    //width: 250px;
                    border-top: 1px solid rgba(255,255,255,0.2);
                    @include prefix (transition, 0.3s $easing-curve);

                    &:hover{
                        background-color: $magenta;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $lrgBP) {
    nav{
        .logo{
            width: 33.33%;
        }
        .right-actions{
            width: 66.66%;
        }
    }
}
@media screen and (max-width: $medBP) {
    nav{
        .logo{
            width: 50%;
        }
        .right-actions{
            width: 50%;

            .sort{
                .sortTitle{
                    display: none;
                }
                // ul{
                //     width: 200%;

                //     &:before{
                //         @include calc (right, calc(50% + #{$body-padding} - 5px));
                //     }
                // }
            }
        }
    }
}
@media screen and (max-width: $smlBP) {
    nav{
        height: 2 * $navHeight;

        .logo{
            width: 100%;
        }
        .right-actions{
            width: 100%;
            top: $navHeight;

            .sort{
                .sortTitle{
                    display: none;
                }
            }
        }
    }
    .content{
        margin-top: $navHeight;
    }
}

.tote-wrap{
    position: relative;
    @include prefix (user-select, none);
    @include prefix (transition, 0.5s $easing-curve);

    &.red{
        .actual-tote .handle {
            background-color: $red;
        }
        .actual-tote .bag-bottom{
            .bottom{
                background-color: $red;
            }
        }
        .actual-tote .bag-body{
            background-color: $red;

            &:after{
                background-image: url("/images/huge-logo-white.svg");
            }
            textarea, .text{
                color: #fff;
            }
        }
    }
    &.orange{
        .actual-tote .handle {
            // background-color: $orange;
        }
        .actual-tote .bag-bottom{
            .bottom{
                background-color: $orange;
            }
        }
        .actual-tote .bag-body{
            background-color: $orange;

            &:after{
                background-image: url("/images/huge-logo-white.svg");
            }
            textarea, .text{
                color: #fff;
            }
        }
    }
    &.yellow{
        .actual-tote .handle {
            // background-color: $yellow;
        }
        .actual-tote .bag-bottom{
            .bottom{
                background-color: $yellow;
            }
        }
        .actual-tote .bag-body{
            background-color: $yellow;

            textarea{
                @include placeholder {
                    color: rgba(25, 25, 25, 0.5);
                }
            }

            &:after{
                background-image: url("/images/huge-logo-white.svg");
            }
            textarea, .text{
                color: #fff;
            }
        }
    }
    &.green{
        .actual-tote .handle {
            // background-color: $green;
        }
        .actual-tote .bag-bottom{
            .bottom{
                background-color: $green;
            }
        }
        .actual-tote .bag-body{
            // background-color: $green;

            &:after{
                background-image: url("/images/huge-logo-white.svg");
            }
            textarea, .text{
                color: #fff;
            }
        }
    }
    &.cyan{
        .actual-tote .handle {
            // background-color: $cyan;
        }
        .actual-tote .bag-bottom{
            .bottom{
                background-color: $cyan;
            }
        }
        .actual-tote .bag-body{
            background-color: $cyan;

            &:after{
                background-image: url("/images/huge-logo-white.svg");
            }
            textarea, .text{
                color: #fff;
            }
        }
    }
    &.white{
        .actual-tote .handle {
            border-bottom: 0;

            &:before{
                border: 1px solid $stroke-color;
                border-bottom: 0;
            }
        }
        .actual-tote .bag-bottom{
            .bottom{
                background-color: #fff; 
                border-bottom: 1px solid $stroke-color;       
            }
            .bl-corner, .br-corner{
                &:after{
                    position: absolute;
                    content: "";
                    width: 0.256em;
                    height: 2px;
                    top: 0;
                    right: -0.135em;
                    background-color: $stroke-color;
                    @include prefix (transform, rotate(45deg));
                }
            }
        }
        .actual-tote .bag-body{
            border: 2px solid $stroke-color;
            border-bottom: 0;
            background-color: #fff;

            textarea{
                @include placeholder {
                    color: rgba(25, 25, 25, 0.5);
                }
            }
            
            &:after{
                background-image: url("/images/huge-logo.svg");
            }
            textarea, .text{
                color: #000;
            }
        }
    }

    &.big{
        .actual-tote {
            width: 85%;

            .bag-body{
                padding-bottom: 75%;
            }
            .handle{
                padding-bottom: 65%;
                width: 45%;
            }
        }
    }

    
    // all totes
    .actual-tote{
        width: 70%;
        margin: 0 auto;
        padding: 7% 0;
        @include prefix (transition, 0.5s $easing-curve);
        
        .handle{
            width: 60%;
            margin: 0 auto;
            margin-bottom: 2px;
            height: 0;
            padding-bottom: 80%;
            position: relative;
            background-color: #000;
            border-top-left-radius: 50% 100%;
            border-top-right-radius: 50% 100%;
            @include prefix (transition, 0.5s $easing-curve);

            &:before{
                content: "";
                width: 72%;
                height: 100%;
                
                position: absolute;
                top: 2px;
                @include centerAbsH;
                @include prefix (transition, 0.3s $easing-curve);

                background-color: #fff;
                border-top-left-radius: 50% 100%;
                border-top-right-radius: 50% 100%;
            }
        }
        
        .bag-body{
            width: 100%;
            height: 0;
            padding-bottom: 90%;
            position: relative;
            z-index: $z-first-level;
            background-color: #000;
            @include prefix (transition, 0.5s $easing-curve);
            @include prefix (transition-property, background, padding);

            &:before{
                content: "";

                position: absolute;
                top: 7%;
                right: 100%;
                width: 3.5%;
                height: 7%;

                background: $magenta url("/images/h.svg") center 5px no-repeat;
                background-size: 60%;
            }

            &:after{
                content: "";

                width: 80%;
                bottom: 3%;
                @include centerAbsH;
                height: 3%;

                background: url("/images/huge-logo.svg") left center no-repeat;
                background-size: contain;
            }

            .textfields-wrap{
                margin: 10%;
                position: absolute;
                top: 0;
                left: 0;
                width: 80%;
                height: 80%;
                
                *{
                    color: #fff;
                }
            }

            .text{
                font-size: 0.29em;
                letter-spacing: -0.05em;
                line-height: 1em;
                
                position: absolute;
                top: 0;
                left: 0;
                right: 0;

                &.strikethrough{
                    .strike{
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: $magenta;
                        text-decoration: line-through;
                        pointer-events: none;
                        width: 100%;
                        height: 100%;

                        .inner-strike{
                            color: transparent;
                        }
                    }
                }
            }
        }

        .bag-bottom{
            width: 100%;
            padding-bottom: 10%;
            position: relative;

            & > *{
                display: inline-block;
                float: left;
            }
            
            .bottom{
               width: 100%;
               height: 100%;
               position: absolute;
               top: -1px;
               left: 0;
               background-color: #000;
               @include prefix (transition, 0.5s $easing-curve);
               @include prefix (transition-property, background-color);
            }
            .bl-corner, .br-corner{
                position: absolute;
                bottom: -1px;
                border: solid 0.1em transparent;
                width: 0;
                height: 0;
                border-left: solid 0.1em #fff;
                border-bottom: solid 0.1em #fff;
                z-index: 1;
                @include prefix (transition, 0.5s $easing-curve);
                @include prefix (transition-property, border-color);

                // &:before{
                //     content: "";

                //     position: absolute;
                //     bottom: 26%;
                //     left: 26%;
                    
                //     width: 141.421%;
                //     height: 141.421%;
                //     background-color: #000;
                //     @include prefix (transition, 0.5s $easing-curve);
                // }
            }
            .bl-corner{
                left: -1px;
            }
            .br-corner{
                @include prefix (transform, rotate(-90deg));
                right: -1px;
            }
        }

        .shadow-blur{
            @include prefix (filter, blur(2px));
            width: 100%;
            margin-top: 10%;

            .tote-shadow{
                //50% center, ellipse farthest-side, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)
                background: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.4) 30%, rgba(0, 0, 0, 0) 70%);
                @include prefix (border-radius, 50%);
                width: 120%;
                margin-left: -10%;
                height: 0;
                padding-bottom: 5%;
                opacity: 0.8;
            }
        }
    }
}


.content{
    width: 100%;
    padding-top: $navHeight;
    position: relative;
}
.clearfix{
    clear: both;
    float: none;
}