$magenta      :   #D93182;
$red          :   #DC143A;
$orange       :   #FF6C00;
$yellow       :   #FFD535;
$green        :   #007D55;
$cyan         :   #27aae1;

$grey         :   #ccc;
$lightGrey    :   #efefef;
$stroke-color :   rgba(0,0,0,0.2);

$easing-curve :   cubic-bezier(.7,0,.3,1);
$navHeight    :   80px;
$body-padding :   25px;

$maxWidth   :   1400px;
$lrgBP    :   1280px;
$medBP      :   940px;
$smlBP    :   640px;
