body .view-carousel{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: $z-third-level;
    opacity: 0;
    pointer-events: none;
    // @include prefix (transition, 0.7s $easing-curve);
    overflow: hidden;
    
    &.on{
        opacity: 1;
        pointer-events: auto;       
    }

    &.no-transition{
        @include prefix (transition, none);
    }
    .view-carousel-wrap{
        width: 300%;
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        overflow: auto;

        .tote-grid-element{
            width: 33.33%;
            padding-bottom: 0;
            height: 150vh;
            top: 0;
            left: 0;
            // background-color: transparent;
            
            .tote-wrap{
                max-width: 80vw;
                width: 800px;
                margin: 0 auto;

                .actual-tote .shadow-blur{
                    opacity: 1;
                }
            }

            .heart-outer-wrap{
                display: none;
            }

            .tote-wrap .actual-tote{
                .handle:before{
                    // background-color: rgba(255,255,255,0.95);
                }
                .bag-bottom{
                    .bl-corner, .br-corner{
                        // border-left-color: rgba(255,255,255,0.95);
                        // border-bottom-color: rgba(255,255,255,0.95);
                    }
                }
            }

            &:hover{
                .tote-wrap{
                    @include prefix (transform, translateY(-50%));
                }
            }
        }
    }
    .view-controls{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $body-padding * 2 + $button-size;
        background-color: rgba(0,0,0, 0.5);
        // @include linear-gradient ( 90deg, rgba(0,0,0,0.4), rgba(0,0,0,0) );
        text-align: center;
        z-index: $z-first-level;
        padding: $body-padding 0;

        & > *{
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin-left: $body-padding;

            &:first-child{
                margin-left: 0;
            }
        }

        .heart-outer-wrap{
            width: $button-size;
            height: $button-size;
        }

        button.arrow{
            &:after{
                width: 50%;
                height: 50%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.3;
                content: "";
                @include centerAbsV;
                @include centerAbsH;
                @include prefix (transition, 0.3s $easing-curve);
            }

            &:hover:after{
                opacity: 0.6;
            }

            &.left:after{
                background-image: url("/images/left-black-arrow.svg");
            }
            &.right:after{
                background-image: url("/images/right-black-arrow.svg");
            }
        }
    }
}