@media screen and (max-width: $smlBP) {
    body .content.browse-page{
        .view-carousel .view-controls{
            top: auto;
            bottom: 0;
            width: ($button-size-sml * 3) + ($body-padding-sml * 2);
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            
            & > *{
                position: absolute;
                margin-left: 0;
            }

            .arrow.left{
                left: 0;
            }
            .arrow.right{
                right: 0;
            }
            .heart-outer-wrap{
                @include centerAbsH;
            }
        }
    }
}
@media screen and (max-width: $medBP) {
    body .content.browse-page{
        .view-carousel .view-controls{

            .heart-outer-wrap{
                width: $button-size-sml;
                height: $button-size-sml;

                .heart svg path{
                    @include prefix (transform, translate3d(13%, 10%, 0) scale(0.65));
                }
            }
        }
    }
}

#viewId{
    display: none;
}

.content.browse-page .zoomTransition{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: $z-third-level - 10;

    .zoomAnimationWrapper{
        width: 100%;
        height: 100%;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
    }
    .tote-grid-element{
        .tote-wrap .actual-tote .bag-bottom .br-corner{
            right: -2px;
        }
    }
}

body .view-carousel{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-third-level;
    opacity: 0;
    pointer-events: none;
    // @include prefix (transition, 0.5s $easing-curve);
    overflow: hidden;
    
    &.on{
        opacity: 1;
        height: 100vh;
        pointer-events: auto;

        .view-carousel-wrap .tote-grid-element .tote-wrap .actual-tote .shadow-blur .tote-shadow{
            @include prefix (transform, translateY(0));
        }
        .view-controls{
            // @include prefix (transform, translateY(0));
            opacity: 1;
        }
    }

    &.no-transition{
        @include prefix (transition, none);
    }
    .view-carousel-wrap{
        width: 302vw; // should be 300, for some reason, it needs to be more for the grid elements to fit on the page.
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        overflow: auto;

        .tote-grid-element{
            width: 100vw;
            padding-bottom: 0;
            height: 150vh;
            // background-color: transparent;
            
            .tote-wrap{
                margin: 0 auto;

                .actual-tote{
                    .bag-bottom .br-corner{
                        right: -2px;
                    }
                    .shadow-blur{
                        opacity: 1;
                        @include prefix (transition, 0s);

                        .tote-shadow{
                            opacity: 0;
                            @include prefix (transform, translateY(-100px));
                        }
                    }
                }
            }

            .heart-outer-wrap{
                display: none;
            }

            .tote-wrap .actual-tote{
                .handle:before{
                    // background-color: rgba(255,255,255,0.95);
                }
                .bag-bottom{
                    .bl-corner, .br-corner{
                        // border-left-color: rgba(255,255,255,0.95);
                        // border-bottom-color: rgba(255,255,255,0.95);
                    }
                }
            }

            &:hover{
                .tote-wrap{
                    @include prefix (transform, translateY(-50%));
                }
            }
        }
    }
    button.close{
        position: absolute;
        top: $body-padding-sml;
        left: $body-padding-sml;
    }
    .view-controls{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: $z-second-level;
        height: $body-padding-sml * 2 + $button-size;
        text-align: right;
        padding: $body-padding-sml;
        @include prefix (transition, 0.5s $easing-curve);
        opacity: 0;

        & > *{
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin-left: $body-padding/2;

            &:first-child{
                margin-left: 0;
            }
        }

        .heart-outer-wrap{
            width: $button-size;
            height: $button-size;

            .heart svg path{
                @include prefix (transform, translate3d(20%, 20%, 0) scale(0.8));
            }

            &.black{
                svg path{
                    @include prefix (fill, rgba(26, 25, 25, .2));
                }
            }
            &.white{
                .heart svg path{
                    @include prefix (fill, rgba(254, 67, 68, 1));
                }
            }
            &.red{
                .heart svg path{
                    @include prefix (fill, rgba(60, 60, 60, 1));
                }
            }
            &.favorited{
                .heart svg path{
                    @include prefix (fill, rgba(255, 255, 255, 1));
                }
            }
        }

        button.arrow{
            &:after{
                width: 40%;
                height: 40%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.3;
                content: "";
                @include centerAbsV;
                @include centerAbsH;
                @include prefix (transition, 0.3s $easing-curve);
            }
            &:hover:after{
                opacity: 0.5;
            }
            &.left:after{
                background-image: url("/images/left-black-arrow.svg");
            }
            &.right:after{
                background-image: url("/images/right-black-arrow.svg");
            }
        }
    }
}