// $z-nav              : 325;
// $z-fadeloadpage     : 320;

// $z-dropdown         : 400;
// $z-flyout           : 400;

// $z-takeover         : 250;
// $z-takeover-black   : 330;
// $z-modal            : 350; 
// $z-left-rail        : 100;

$z-first-level      : 101;
$z-second-level     : 200;
$z-third-level      : 300;